<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f758f">  <td>23/08/22 21:46:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Gradestar_POC.initWinAppDriverServer()[pri:0, instance:testcases.Gradestar_POC@6e01f9b0]">&gt;&gt;initWinAppDriverServer</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Gradestar Automationc-1@348055829</td>   <td></td> </tr>
<tr bgcolor="9f758f">  <td>23/08/22 21:46:01</td>   <td>72</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Gradestar_POC.testAdditionOperation()[pri:0, instance:testcases.Gradestar_POC@6e01f9b0]">testAdditionOperation</td> 
  <td>TestNG-test=Gradestar Automationc-1@348055829</td>   <td></td> </tr>
<tr bgcolor="9f758f">  <td>23/08/22 21:46:09</td>   <td>7398</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Gradestar_POC.tearDown()[pri:0, instance:testcases.Gradestar_POC@6e01f9b0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Gradestar Automationc-1@348055829</td>   <td></td> </tr>
</table>
